<div class="content-wrapper">
     @Html.Partial("GridCompletedFeeds")
</div>
<div class="content-wrapper bottom-toolbar">
    <button id="btnCompletedCancel" type="button">Đóng</button>
    <script type="text/javascript">
        $("#btnCompletedCancel").kendoButton({
            width: 120,
            icon: "close",
            click: function () {
                var win = $("#feedCompletedDialog").data("kendoWindow");
                if (win) {
                    win.close();
                }
            }
        });
    </script>
</div>




