<div id="example">
    <div id="gridNotes"></div>
    <script>
        $(document).ready(function () {
            $("#gridNotes").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: '@Url.Action("NotesGrid", "Jobs")'
                    },
                    pageSize: 20
                },
                height: 400,
                groupable: true,
                //sortable: true,
                selectable: true,
                resizable: true,
                //filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "APK",
                        title: "<input type='checkbox' id='chkAll' />",
                        width: 30,
                        template: "<input type='checkbox' />"
                    }, {
                        field: "Description",
                        title: "Ghi chú"
                    },  {
                        field: "CreatedDate",
                        title: "Ngày tạo",
                        type: "date",
                        width: 120,
                        template: '#= kendo.toString(data.CreatedDate, "dd/MM/yyyy") #'
                    }, {
                        field: "CreatedUserID",
                        title: "Người tạo",
                        width: 120
                    }, {
                        field: "LastModifyDate",
                        title: "Ngày cập nhật",
                        type: "date",
                        width: 120,
                        template: '#= kendo.toString(data.LastModifyDate, "dd/MM/yyyy") #'
                    }, {
                        field: "LastModifyUserID",
                        title: "Người cập nhật",
                        width: 120
                    }]
            });
        });
    </script>

</div>
