<div id="note-grid">
    <div id="gridNotes"></div>
    <div id="noteConfirmDialog"></div>
    <script type="text/x-kendo-template" id="noteConfirmTemplate">
        <div class="content-wrapper">
            <p>Bạn có muốn xóa ghi chú này ?</p>
            <div class="content-wrapper bottom-toolbar">
                <button class="k-button" id="yesButton">Đồng ý</button>
                <button class="k-button" id="noButton">Hủy</button>
            </div>
        </div>
    </script>
    <div id="noteMessageDialog"></div>
    <script type="text/x-kendo-template" id="noteMessageTemplate">
        <div class="content-wrapper">
            <p>#= message #</p>
            <div class="content-wrapper bottom-toolbar">
                <button class="k-button" id="okButton">Đồng ý</button>
            </div>
        </div>
    </script>
    <script>
        $(document).ready(function () {
            var noteConfirmTemplate = kendo.template($("#noteConfirmTemplate").html());
            var noteConfirmWindow = $("#noteConfirmDialog").kendoWindow({
                title: "Thông báo",
                visible: false,
                modal: true,
                width: "400px",
                height: "100px",
            }).data("kendoWindow");
            var noteMessageTemplate = kendo.template($("#noteMessageTemplate").html());
            var noteMessageWindow = $("#noteMessageDialog").kendoWindow({
                title: "Thông báo",
                visible: false,
                modal: true,
                width: "400px",
                height: "100px",
            }).data("kendoWindow");

            //function updateNote_Click(e) {
            //    e.preventDefault();

            //    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            //    checkEditNote(dataItem);
            //}

            function viewNote_Click(e) {
                e.preventDefault();

                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                var win = $("#NoteDialog").data("kendoWindow");
                win.center();
                win.refresh({
                    url: $('#NoteDialogUrl').val(),
                    data: { APK: dataItem.APK, Action: 3 },
                    type: 'POST'
                });
                win.open();
            }

            //function checkEditNote(data) {
            //    $.ajax({
            //        type: 'POST',
            //        url: $('#checkEditNoteUrl').val(),
            //        data: JSON.stringify(data),
            //        contentType: 'application/json; charset=utf-8',
            //        success: function (dataResult) {
            //            if (!dataResult.result) {
            //                noteConfirmWindow.close();

            //                noteMessageWindow.content(noteMessageTemplate(dataResult)); //send the row data object to the template and render it
            //                noteMessageWindow.open().center();

            //                $("#okButton").click(function () {
            //                    noteMessageWindow.close();
            //                });
            //            }
            //            else {
            //                var win = $("#NoteDialog").data("kendoWindow");
            //                win.center();
            //                win.refresh({
            //                    url: $('#NoteDialogUrl').val(),
            //                    data: { APK: data.APK, Action: 2 },
            //                    type: 'POST'
            //                });
            //                win.open();
            //            }
            //        }
            //    });
            //}

            //function checkDeleteNote(data) {
            //    $.ajax({
            //        type: 'POST',
            //        url: $('#checkEditNoteUrl').val(),
            //        data: JSON.stringify(data),
            //        contentType: 'application/json; charset=utf-8',
            //        success: function (dataResult) {
            //            if (!dataResult.result) {
            //                noteConfirmWindow.close();

            //                noteMessageWindow.content(noteMessageTemplate(dataResult)); //send the row data object to the template and render it
            //                noteMessageWindow.open().center();

            //                $("#okButton").click(function () {
            //                    noteMessageWindow.close();
            //                });
            //            }
            //            else {
            //                $.ajax({
            //                    type: 'POST',
            //                    url: $('#removeNoteUrl').val(),
            //                    data: JSON.stringify(data),
            //                    contentType: 'application/json; charset=utf-8',
            //                    success: function () {
            //                        var noteGrid = $('#gridNotes').data('kendoGrid');
            //                        if (noteGrid) {
            //                            noteGrid.dataSource.read();
            //                        }
            //                        noteConfirmWindow.close();
            //                    }
            //                });
            //            }
            //        }
            //    });
            //}

            //function deleteNote_Click(e) {
            //    e.preventDefault();

            //    var tr = $(e.target).closest("tr"); //get the row for deletion
            //    var data = this.dataItem(tr); //get the row data so it can be referred later

            //    noteConfirmWindow.content(noteConfirmTemplate(data)); //send the row data object to the template and render it
            //    noteConfirmWindow.open().center();

            //    $("#yesButton").click(function () {
            //        checkDeleteNote(data);
            //    });

            //    $("#noButton").click(function () {
            //        noteConfirmWindow.close();
            //    });
            //}

            $("#gridNotes").kendoGrid({
                toolbar: ['excel'],
                excel: {
                    fileName: 'notes.xlsx'
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: '@Url.Action("GridNotes", "Jobs")' + '?apk=' + $('#JobAPK').val()
                    },
                    pageSize: 20
                },
                height: 400,
                groupable: {
                    messages: {
                        empty: "Kéo một tiêu đề cột và thả nó vào đây để nhóm theo cột đó"
                    }
                },
                //sortable: true,
                selectable: true,
                resizable: true,
                //filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "APK",
                        title: "",
                        hidden: true,
                        width: 30
                    }, {
                        field: "Title",
                        title: "Tiêu đề",
                        width: 200
                    }, {
                        field: "Description",
                        title: "Nội dung"
                    }, {
                        field: "CreatedDate",
                        title: "Ngày tạo",
                        type: "date",
                        width: 120,
                        template: '#= kendo.toString(data.CreatedDate, "dd/MM/yyyy") #'
                    }, {
                        field: "CreatedUserID",
                        title: "Người tạo",
                        width: 120
                    }, {
                        field: "LastModifyDate",
                        title: "Ngày cập nhật",
                        type: "date",
                        width: 120,
                        template: '#= kendo.toString(data.LastModifyDate, "dd/MM/yyyy") #'
                    }, {
                        field: "LastModifyUserID",
                        title: "Người cập nhật",
                        width: 120
                    }, {
                        command: [
                            {
                                text: 'Xem',
                                imageClass: 'k-icon k-i-restore ob-icon-only',
                                title: 'Xem',
                                click: viewNote_Click
                            },
                            //{
                            //    text: 'Sửa',
                            //    imageClass: 'k-icon k-i-pencil ob-icon-only',
                            //    title: 'Sửa',
                            //    click: updateNote_Click
                            //}, {
                            //    text: 'Xóa',
                            //    imageClass: 'k-icon k-i-close ob-icon-only',
                            //    title: 'Xóa',
                            //    click: deleteNote_Click
                            //}
                        ],
                        width: 80
                    }
                ]
            });
        });
    </script>

</div>
@Html.Hidden("NoteDialogUrl", Url.Action("NoteDialog", "Jobs"))
@Html.Hidden("removeNoteUrl", Url.Action("RemoveNote", "Jobs"))
@Html.Hidden("updateNoteUrl", Url.Action("UpdateNote", "Jobs"))