<div id="example">
    <div id="gridHistories"></div>
    <script>
        $(document).ready(function () {
            function viewHistory_Click(e) {
                e.preventDefault();

                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                var win = $("#HistoryDialog").data("kendoWindow");
                win.center();
                win.maximize();
                win.refresh({
                    url: $('#HistoryDialogUrl').val(),
                    data: { APK: dataItem.APK, Action: 3 },
                    type: 'POST'
                });
                win.open();
            }

            $("#gridHistories").kendoGrid({
                toolbar: ['excel'],
                excel: {
                    fileName: 'histories.xlsx'
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: '@Url.Action("GridHistories", "Jobs")' + '?apk=' + $('#JobAPK').val()
                    },
                    pageSize: 20
                },
                height: 500,
                groupable: {
                    messages: {
                        empty: "Kéo một tiêu đề cột và thả nó vào đây để nhóm theo cột đó"
                    }
                },
                //sortable: true,
                resizable: true,
                selectable: true,
                //filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "APK",
                    title: "",
                    hidden: true,
                    width: 30
                }, {
                    field: "CreatedDate",
                    title: "Ngày tạo",
                    type: "date",
                    width: 150,
                    template: '#= kendo.toString(data.CreatedDate, "dd/MM/yyyy HH.mm.ss") #'
                }, {
                    field: "CreatedUserID",
                    title: "Người thực hiện",
                    width: 150
                }, {
                    field: "ActionName",
                    title: "Hành động",
                    width: 130
                }, {
                    field: "OldData",
                    title: "Nội dung cũ",
                    width: 200,
                }, {
                    field: "NewData",
                    title: "Nội dung mới",
                    width: 200,
                }, {
                    command: [
                            {
                                text: 'Xem',
                                imageClass: 'k-icon k-i-restore ob-icon-only',
                                title: 'Xem',
                                click: viewHistory_Click
                            }
                    ],
                    width: 80
                }]
            });
        });
    </script>

</div>

@Html.Hidden("HistoryDialogUrl", Url.Action("HistoryDialog", "Jobs"))