<div id="example">
    <div id="gridAttachments"></div>
    <script>
        $(document).ready(function () {
            $("#gridAttachments").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: '@Url.Action("AttachmentsGrid", "Jobs")'
                    },
                    pageSize: 20
                },
                height: 500,
                groupable: true,
                //sortable: true,
                resizable: true,
                selectable: true,
                //filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "APK",
                        title: "<input type='checkbox' id='chkAll' />",
                        width: 30,
                        template: "<input type='checkbox' />"
                    }, {
                        field: "AttachmentFileName",
                        title: "Tên tập tin",
                        width: 200,
                        template: "<a href='/Jobs/Download/#: data.AttachmentFilePath #'>#: data.AttachmentFileName #</a>"
                    }, {
                        field: "AttachmentFileSize",
                        title: "Kích thước",
                        width: 100
                    }, {
                        field: "AttachmentFileType",
                        title: "Loại tập tin",
                        width: 100
                    }, {
                        field: "AttachmentOwner",
                        title: "Người đăng",
                        width: 100
                    }, {
                        field: "AttachmentComment",
                        title: "Mô tả"
                    }, {
                        field: "CreatedDate",
                        title: "Ngày tạo",
                        type: "date",
                        width: 120,
                        template: '#= kendo.toString(data.CreatedDate, "dd/MM/yyyy") #'
                    }, {
                        field: "CreatedUserID",
                        title: "Người tạo",
                        width: 120
                    }, {
                        field: "LastModifyDate",
                        title: "Ngày cập nhật",
                        type: "date",
                        width: 120,
                        template: '#= kendo.toString(data.LastModifyDate, "dd/MM/yyyy") #'
                    }, {
                        field: "LastModifyUserID",
                        title: "Người cập nhật",
                        width: 120
                    }
                ]
            });
        });
    </script>

</div>
