<div id="example">
    <div id="gridAttachments"></div>
    <div id="confirmDialog"></div>
    <script type="text/x-kendo-template" id="attachmentConfirmTemplate">
        <div class="content-wrapper">
            <p>Bạn có muốn xóa <strong>#= AttachmentFileName #</strong> ?</p>
            <div class="content-wrapper bottom-toolbar">
                <button class="k-button" id="yesButton">Đồng ý</button>
                <button class="k-button" id="noButton">Hủy</button>
            </div>
        </div>
    </script>
</div>

@Html.Hidden("gridAttachmentsUrl", Url.Action("AttachmentsGrid", "Jobs"))
@Html.Hidden("removeAttachmentUrl", Url.Action("RemoveAttachment", "Jobs"))
@Html.Hidden("updateAttachmentUrl", Url.Action("UpdateAttachment", "Jobs"))
@Html.Hidden("updateAttachmentDialogUrl", Url.Action("UpdateAttachmentDialog", "Jobs"))
