<div id="example">
    <div id="gridHistories"></div>
    <script>
        $(document).ready(function () {
            $("#gridHistories").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: '@Url.Action("HistoriesGrid", "Jobs")'
                    },
                    pageSize: 20
                },
                height: 500,
                groupable: true,
                //sortable: true,
                selectable: true,
                //filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "APK",
                    title: "<input type='checkbox' id='chkAll' />",
                    width: 30,
                    template: "<input type='checkbox' />"
                }, {
                    field: "CreatedDate",
                    title: "CreatedDate",
                    type: "date",
                    width: 200,
                    template: '#= kendo.toString(data.CreatedDate, "dd/MM/yyyy HH.mm.ss") #'
                }, {
                    field: "CreatedUserID",
                    title: "Người thực hiện",
                    width: 200
                }, {
                    field: "ActionName",
                    title: "Hành động",
                    width: 200
                }, {
                    field: "Description",
                    title: "Mô tả"
                }]
            });
        });
    </script>

</div>
