<div id="main-grid">
    <script>
        $(document).ready(function () {
            jobs.job.initJobGridOver();
            jobs.job.initJobConfirmDialog();
        });
    </script>

    <div id="grid"></div>
    @Html.Hidden("gridJobsUrl", Url.Action("GridOverdue", "Jobs"))
</div>
