<div id="example">
    <div id="gridHistories"></div>
    <script>
        $(document).ready(function () {
            $("#gridHistories").kendoGrid({
                toolbar: ['excel'],
                excel: {
                    fileName: 'histories.xlsx'
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: '@Url.Action("GridHistories", "Jobs")' + '?apk=' + $('#JobAPK').val()
                    },
                    pageSize: 20
                },
                height: 500,
                groupable: {
                    messages: {
                        empty: "Kéo một tiêu đề cột và thả nó vào đây để nhóm theo cột đó"
                    }
                },
                //sortable: true,
                selectable: true,
                //filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "APK",
                    title: "",
                    hidden: true,
                    width: 30
                }, {
                    field: "CreatedDate",
                    title: "Ngày tạo",
                    type: "date",
                    width: 200,
                    template: '#= kendo.toString(data.CreatedDate, "dd/MM/yyyy HH.mm.ss") #'
                }, {
                    field: "CreatedUserID",
                    title: "Người thực hiện",
                    width: 200
                }, {
                    field: "ActionName",
                    title: "Hành động",
                    width: 200
                }, {
                    field: "OldData",
                    title: "Nội dung cũ"
                }, {
                    field: "NewData",
                    title: "Nội dung mới"
                }]
            });
        });
    </script>

</div>
