IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[CompletedFeeds]') AND TYPE IN (N'U'))
BEGIN
     CREATE TABLE [dbo].[CompletedFeeds]
     (
		[APK] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
		[JobAPK] UNIQUEIDENTIFIER NULL,
		[JobID] NVARCHAR(50) NULL,
		[Completed] NVARCHAR(50) NULL,
		[Reader] NVARCHAR(50) NOT NULL,
		[Read] BIT NOT NULL DEFAULT(0),
		CONSTRAINT [PK_CompletedFeeds_APK] PRIMARY KEY CLUSTERED
		(
			[APK]
		)
		WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	)
	ON [PRIMARY]
END