IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[Employees]') AND TYPE IN (N'U'))
BEGIN
     CREATE TABLE [dbo].[Employees]
     (
		[APK] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
		[EmployeeID] NVARCHAR(50) NOT NULL,
		[FullName] NVARCHAR(250) NOT NULL,
		[BirthDay] DATETIME NULL,
		[IDCardNo] NVARCHAR(50) NULL,
		[Description] NVARCHAR(500) NULL,
		[DepartmentID] NVARCHAR(50) NOT NULL,
		[ManagerID] NVARCHAR(50) NULL,
		[GroupID] NVARCHAR(50) NULL,
		[UserName] NVARCHAR(56) NULL,
		[CreatedDate] DATETIME NOT NULL DEFAULT GETDATE(),
		[LastModifyDate] DATETIME NOT NULL DEFAULT GETDATE(),
		[CreatedUserID] NVARCHAR(50) NULL,
		[LastModifyUserID] NVARCHAR(50) NULL,
		CONSTRAINT [PK_EMPLOYEES_APK] PRIMARY KEY CLUSTERED
		(
			[APK]
		)
		WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	)
	ON [PRIMARY]
END