IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[Histories]') AND TYPE IN (N'U'))
BEGIN
     CREATE TABLE [dbo].[Histories]
     (
		[APK] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
		[JobAPK] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
		[ActionType] TINYINT NOT NULL,
		[Description] NVARCHAR(300) NULL,
		[CreatedDate] DATETIME NOT NULL DEFAULT GETDATE(),
		[CreatedUserID] NVARCHAR(50) NULL,
		CONSTRAINT [PK_HISTORIES_APK] PRIMARY KEY CLUSTERED
		(
			[APK]
		)
		WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	)
	ON [PRIMARY]
END